#section-about {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  .about-img {
    max-width: 300px;
    img {
      border-radius: 50%;
    }
  }

  .about-content {
    position: relative;
    h2 {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
    ul {
      margin: 0;
      list-style-type: square;
      li {
        line-height: 25px;
        span {
          display: inline-block;
          min-width: 90px;
          margin-right: 5px;
          &:after {
            content: ":";
            float: right;
          }
        }
      }
    }
  }
}
