#header-container {
  position: relative;
  padding: 5px;
  h1 {
    margin: 5px auto;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
  }
}
